.choice {
  display: inline-block;
  border: 2px solid cadetblue;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.choice:hover {
  color: cadetblue;
  border: 2px solid white;
}

.container {
  margin: 20px auto;
  background-color: rgb(233, 233, 233);
  height: 80vh;
  width: 80vw;
  border-radius: 5px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
  padding: 2% 0%;
}

.highscores {
  color: rgb(95, 136, 160);
  font-weight: bold;
}

.question {
  font-weight: bold;
}

.scoreboard {
  display: flex;
  justify-content: center;
}

.start-quiz {
  font-size: 1.5rem;
  width: 20%;
  text-align: center;
  font-weight: bold;
  color: rgb(95, 136, 160);
  border: 2px solid cadetblue;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.start-quiz:hover {
  color: cadetblue;
  border: 2px solid white;
}

.submitScoreBtn {
  font-weight: bold;
  color: rgb(95, 136, 160);
  border: 2px solid cadetblue;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.submitScoreBtn:hover {
  color: cadetblue;
  border: 2px solid white;
}

.timer {
  color: rgb(95, 136, 160);
  font-weight: bold;
}

.welcome {
  font-size: 3rem;
  text-align: center;
  color: cadetblue;
}
